{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'admin/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'admin/css/admin_style.css' %}">

    <title>Admin Panel</title>
</head>
<body>
<div class="content d-flex justify-content-center align-items-center flex-column position-absolute site-top-pos">
    <div class="row home_icon">
        <div class="avatar-sm d-flex flex-column align-items-center position-relative">
            <a href="{% url 'adminpanel' %}"><img id="home_selector" class="avatar-img rounded-circle"
                                                  src="{% static 'admin/img/home1.png' %}"/></a>
            <label for="home_selector"
                   class="text-center font-weight-bold text-secondary setting_label_tag">Home</label>

        </div>
    </div>
    <div class="row">
        <h1 class="display-1 display-sm-5 text-secondary header">Setting</h1>
    </div>
    <div class="row d-flex h-50 w-50 setting_page align-items-center">
        <div class="col-6 d-flex justify-content-center mb-5 p-3">
            <div class="avatar-big d-flex flex-column align-items-center position-relative">
                <a href="{% url 'image_set_page' %}"><img id="user_selector" class="avatar-img rounded-circle"
                                                  src="{% static 'admin/img/addphoto.jpg' %}"/></a>
                <label for="user_selector" class="text-center font-weight-bold text-secondary setting_label_tag">Add
                    Photo For every Page</label>

            </div>
        </div>
        <div class="col-6 d-flex justify-content-center mb-5 p-3">
            <div class="avatar-big d-flex flex-column align-items-center position-relative">
                <a href="{% url 'site_setting_page' %}"><img id="weblog_selector" class="avatar-img rounded-circle"
                                                 src="{% static 'admin/img/sitesetting1.png' %}"/></a>
                <label for="weblog_selector" class="text-center font-weight-bold text-secondary setting_label_tag">Add
                    or Change Site Seeting</label>

            </div>
        </div>
        <div class="col-6 d-flex justify-content-center">
            <div class="avatar-big d-flex flex-column align-items-center position-relative">
                <span class="w-auto h-auto badge badge-pill badge-info position-absolute cusbom_bad">{{ count }}</span>
                <a href="{% url 'contact_admin_page' %}"><img id="setting_selector" class="avatar-img rounded-circle"
                                                         src="{% static 'admin/img/comment_a.jpg' %}"/></a>
                <label for="setting_selector" class="text-center font-weight-bold text-secondary setting_label_tag">Response
                    to Contact Us</label>

            </div>
        </div>
        <div class="col-6 d-flex justify-content-center ">
            <div class="avatar-big d-flex flex-column align-items-center position-relative">
                <a href="{% url 'add_employee_page' %}"><img id="setting_selector" class="avatar-img rounded-circle"
                                                 src="{% static 'admin/img/addemployee.png' %}"/></a>
                <label for="setting_selector" class="text-center font-weight-bold text-secondary setting_label_tag">Add
                    Employee for Website</label>

            </div>
        </div>

        <div class="col-12 d-flex justify-content-center mt-5 ">
            <div class="avatar-big d-flex flex-column align-items-center position-relative">
                <a href="{% url 'about_setting_page' %}"><img id="setting_selector" class="avatar-img rounded-circle"
                                                     src="{% static 'admin/img/aboutus.png' %}"/></a>
                <label for="setting_selector" class="text-center font-weight-bold text-secondary setting_label_tag">About
                    Us</label>

            </div>
        </div>
    </div>
</div>


<!-- <script src="js/bootstrap.min.js"></script> -->
</body>
</html>