{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'admin/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'admin/css/admin_style.css' %}">

    <title>Admin Panel</title>
</head>
<body>
    <div class="content d-flex justify-content-center align-items-center flex-column">
         <div class="row home_icon">
            <div class="avatar-sm d-flex flex-column align-items-center position-relative">
                <a href="{% url 'Home_page' %}"><img id="home_selector" class="avatar-img rounded-circle" src="{% static 'admin/img/visit_website.png' %}" /></a>
                <label for="home_selector" class="text-center font-weight-bold text-secondary setting_label_tag">WebSite</label>

            </div>
        </div>
        <div class="row">
            <h1 class="display-1 text-secondary header">Admin Panel</h1>
        </div>
        <div class="row d-flex h-50  w-75 align-items-center">
            <div class="col-md-4 col-6 d-flex justify-content-center" >
                <div class="avatar-big d-flex flex-column align-items-center position-relative">
                    <a href="{% url 'user_panel' %}"><img id="user_selector" class="avatar-img rounded-circle" src="{% static 'admin/img/user_id.png' %}" /></a>
                    <label for="user_selector" class="font-weight-bold text-secondary">User</label>

                </div>
            </div>
            <div class="col-md-4 col-6 d-flex justify-content-center">
                <div class="avatar-big d-flex flex-column align-items-center position-relative">
                    {% if count > 0 %}
                        <span class="w-auto h-auto badge badge-pill badge-info position-absolute cusbom_bad">{{ count }}</span>
                    {% endif %}
                    <a href="{% url 'weblog_admin' %}"><img id="weblog_selector" class="avatar-img rounded-circle" src="{% static 'admin/img/weblog.png' %}" /></a>
                    <label for="weblog_selector" class="font-weight-bold text-secondary">Weblog</label>

                </div>
            </div>
            <div class="col-md-4 d-flex justify-content-center">
                <div class="avatar-big d-flex flex-column align-items-center position-relative">
                    <a href="{% url 'setting_panel' %}"><img id="setting_selector" class="avatar-img rounded-circle" src="{% static 'admin/img/sitesetting.png' %}" /></a>
                    <label for="setting_selector" class="font-weight-bold text-secondary">Setting</label>

                </div>
            </div>
           
        </div>
    </div>




    <!-- <script src="js/bootstrap.min.js"></script> -->
</body>
</html>